html, body,div{
    margin: 0px;
    color: white;
    background-color: #2F4F30;
}

body{
    background-color: #2F4F30 !important;
}

.titulo{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 20px;
}

.carta{
    position: relative;
    width: 150px;
    left: 100px;
    margin-left: -75px;
}

#computadoras-cartas, #juagor-cartas {
    height: 240px;
}